/**
 * @website: http://hcy2367.github.io/resume
 * @author: chmyun
 * @date: 2014-1-26
 * @email: hcy2367@163.com
 */
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
   max-width: 100%;
   height: auto;
}
.video embed, .video object, .video iframe {
    width: 100%;
    height: auto;
}
b, strong { font-weight: bold }
i, em { font-style: italic }
a {
    text-decoration: none;
    color: #337ab7;
}
a:hover, a:focus {
    text-decoration: underline;
    color: #08c;
}


body {
    font-family: Arial,sans-serif;
    background-color: #76c3bc;
    background-image: url('../images/noise.png');
    background-image: url('../images/noise.png'), -webkit-radial-gradient(center, ellipse cover, #a1d6d1 0%, #8fcec8 60%, #509793 100%);
    background-image: url('../images/noise.png'), -moz-radial-gradient(center, ellipse cover, #a1d6d1 0%, #8fcec8 60%, #509793 100%);
    background-image: url('../images/noise.png'), -o-radial-gradient(center, ellipse cover, #a1d6d1 0%, #8fcec8 60%, #509793 100%);
}
body.impress-on-skill {
	background-color: #fccd1c;
	background-image: url('../images/noise.png');
	background-image: url('../images/noise.png'), -webkit-radial-gradient(center, ellipse cover, #fdda58 0%, #fdd43f 60%, #ebb51e 100%);
	background-image: url('../images/noise.png'), -moz-radial-gradient(center, ellipse cover, #fdda58 0%, #fdd43f 60%, #ebb51e 100%);
	background-image: url('../images/noise.png'), -o-radial-gradient(center, ellipse cover, #fdda58 0%, #fdd43f 60%, #ebb51e 100%);
}
body.impress-on-personal-experience {
	background-color: #e74642;
	background-image: url('../images/noise.png');
	background-image: url('../images/noise.png'), -webkit-radial-gradient(center, ellipse cover, #ee7b78 0%, #eb6561 60%, #d84642 100%);
	background-image: url('../images/noise.png'), -moz-radial-gradient(center, ellipse cover, #ee7b78 0%, #eb6561 60%, #d84642 100%);
	background-image: url('../images/noise.png'), -o-radial-gradient(center, ellipse cover, #ee7b78 0%, #eb6561 60%, #d84642 100%);
}
body.impress-on-work-experience {
	background-color: #b7e53e;
	background-image: url('../images/noise.png');
	background-image: url('../images/noise.png'), -webkit-radial-gradient(center, ellipse cover, #cbec74 0%, #c3e95e 60%, #99c936 100%);
	background-image: url('../images/noise.png'), -moz-radial-gradient(center, ellipse cover, #cbec74 0%, #c3e95e 60%, #99c936 100%);
	background-image: url('../images/noise.png'), -o-radial-gradient(center, ellipse cover, #cbec74 0%, #c3e95e 60%, #99c936 100%);
}
body.impress-on-contact {
	background-color: #e0e0e0;
	background-image: url('../images/noise.png');
	background-image: url('../images/noise.png'), -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 60%, #cfcfcf 100%);
	background-image: url('../images/noise.png'), -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 60%, #cfcfcf 100%);
	background-image: url('../images/noise.png'), -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 60%, #cfcfcf 100%);
}

/*loading*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    z-index: 9999;
}
.loading .spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    margin-left: -50px;
    margin-top: -50px;
    -webkit-animation: rotateplane 1.2s ease-in-out infinite;
    animation: rotateplane 1.2s ease-in-out infinite;
}
@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*welcome*/
.welcome {
    width: 600px;
    height: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -300px;
    margin-top: -100px;
    /*display: none;*/
}
.flipInY {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate(0,0) perspective(2000px) rotateY(0deg) scale(1,1) !important;
    -ms-transform: translate(0,0) perspective(2000px) rotateY(0deg) scale(1,1) !important;
    transform: translate(0,0) perspective(2000px) rotateY(0deg) scale(1,1) !important;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
.flipOutY {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate(0,0) perspective(2000px) rotateY(-360deg) scale(0.03,0.03) !important;
    -ms-transform: translate(0,0) perspective(2000px) rotateY(-360deg) scale(0.03,0.03) !important;
    transform: translate(0,0) perspective(2000px) rotateY(-360deg) scale(0.03,0.03) !important;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
.welcome h1 {
    color: #fff;
    font-size: 40px;
}
#down_arrow {
    position: absolute;
    left: 50%;
    bottom: 10px; /*注意：必须定义bottom属性，因为margin-bottom不断改变*/
    margin-left: -18px;
    background: url(../images/rope.png) no-repeat 0 0;
    width: 36px;
    height: 59px;
    -webkit-animation: jump .8s linear infinite;
    animation: jump .8s linear infinite;
}
@-webkit-keyframes jump {
    0% {
        margin-bottom: 0;
        -webkit-animation-timing-function: ease-out
    }
    50% {
        margin-bottom: 10px;
        -webkit-animation-timing-function: ease-in
    }
    100% {
        margin-bottom: 0;
        -webkit-animation-timing-function: ease-out
    }
}
@keyframes jump {
    0% {
        margin-bottom: 0;
        animation-timing-function: ease-out
    }
    50% {
        margin-bottom: 10px;
        animation-timing-function: ease-in
    }
    100% {
        margin-bottom: 0;
        animation-timing-function: ease-out
    }
}

/* loading effect: surrounding borders */
.surrounding-anim {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 0px solid rgba(0,0,0,0.2);
    pointer-events: none;
}
.surrounding-anim div {
    position: fixed;
    background: #2c3e52;
}
/*上下div高度固定，宽度过渡变化*/
.surrounding-anim div:first-child,
.surrounding-anim div:nth-child(3) {
    width: 0;
    height: 50px;
}
/*左右div宽度固定，高度过渡变化*/
.surrounding-anim div:nth-child(2),
.surrounding-anim div:nth-child(4) {
    width: 50px;
    height: 0;
}
.surrounding-anim div:first-child {
    top: 0;
    left: 0;
}
.surrounding-anim.running div:first-child {
    width: 100%;
    -webkit-transition: width 1.35s linear 0.3s;
    transition: width 1.35s linear 0.3s;
}
.surrounding-anim div:nth-child(2) {
    top: 0;
    right: 0;
}
.surrounding-anim.running div:nth-child(2) {
    height: 100%;
    -webkit-transition: height 1.35s linear 1.65s;
    transition: height 1.35s linear 1.65s;
}
.surrounding-anim div:nth-child(3) {
    right: 0;
    bottom: 0;
}
.surrounding-anim.running div:nth-child(3) {
    width: 100%;
    -webkit-transition: width 1.35s linear 3s;
    transition: width 1.35s linear 3s;
}
.surrounding-anim div:nth-child(4) {
    bottom: 0;
    left: 0;
}
.surrounding-anim.running div:nth-child(4) {
    height: 100%;
    -webkit-transition: height 1.35s linear 4.35s;
    transition: height 1.35s linear 4.35s;
}
.surrounding-anim.running {
    z-index: 9;
    border: 50px solid rgba(0,0,0,0.2);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: border 0.3s, opacity 0.3s 5.7s;
    transition: border 0.3s, opacity 0.3s 5.7s;
}

/*impress*/
#impress {
    display: none;
}
/*浏览器不支持impress特性*/
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
    text-align: center;
    position: relative;
    z-index: 10;
}
.fallback-message p {
    margin-bottom: 10px;
}
/*body class: impress-supported*/
.impress-supported .fallback-message {
    display: none;
}
.impress-not-supported #impress {
    display: none;
}

.step {
    position: relative;
    width: 1200px;
    padding: 20px;
    margin: 20px auto;
    line-height: 1.5;
}

/*body class: impress-enabled*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
.impress-enabled .step.active { opacity: 1 }

/* .step.slide */
.slide {
    height: 650px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
}
.slide h2 {
	font-size: 36px;
    color: #000;
    border-left: 10px solid #7fc042;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 36px;
    line-height: 36px;
}
.slide h3 {
    font-size: 32px;
    color: #333;
}
.slide p {
	font-size: 28px;
	color: #555;
    margin-bottom: 20px;
}
.slide p.ti {
    text-indent: 60px;
}

#skill .bubbleChart {
    width: 600px;
    height: 600px;
    margin: 0px auto;
}

/*step overview*/
#overview {
	text-align: center;
	color: #fff;
	font-size: 40px;
}
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*hint*/
.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}
.impress-enabled .hint { display: block }
.impress-on-about .hint {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }


